@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* BROWSER */

@media (max-width: 1400px) and (min-width: 831px) {
    .wrapper {
        box-sizing: border;
        padding-left: 124px;
        padding-right: 150px;
    }

    h1 {
        margin-top: 91px;
        font: 55px 'Roboto Slab', serif;
        font-weight: 700;
    }

    .main {
        display: flex;
        margin: 15px auto;
        justify-content: space-between;
        align-items: center;
    }

    .main p {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 36px;
    }

    .operator {
        display: block;
        width: 373px;
        height: 366px;
    }

    .producer {
        display: block;
        width: 232px;
        height: 214px;
        margin-right: 132px;
    }

    .lessons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .lessons p {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
    }

    .lessons p span {
        line-height: normal;
        font-size:18px;
        font-weight: normal;
    }

}


/* TABLET */

@media (max-width: 830px) and (min-width: 376px) {
    .wrapper {
        box-sizing: border;
        padding-left: 72px;
        padding-right: 86px;
    }

    h1 {
        margin-top: 56px;
        font: 32px 'Roboto Slab', serif;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        line-height: 18px;
    }

    .main {
        display: flex;
        margin: 15px auto;
        justify-content: space-between;
        align-items: center;
    }

    .main p {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .operator {
        display: block;
        width: 181.86px;
        height: 182.44px;
    }

    .producer {
        display: none;
    }

    .lessons {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .lessons p {
        width: 25%;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .lessons p span {
        font-weight: normal;
    }

}

/* MOBILE PHONE*/

@media (max-width: 375px) {
    .wrapper {
        box-sizing: border;
        padding-left: 36px;
    }

    h1 {
        font: 26px 'Roboto Slab', serif;
        font-weight: 700;
        margin-top: 56px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }

    .main p {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .articles {
        margin: 15px auto;
    }

    .articles p {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .operator {
        display: block;
        margin: 0px 0px 20px 55px;
        width: 146px;
        height: 146px;
    }

    .producer {
        display: none;
    }

    .lessons {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
    }

    .lessons p {
        width: 40%;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
    }

    .lessons p span {
        font-weight: normal;
    }

    .lessons p:last-child {
        margin-top: 20px;
    }

}